//META{"name":"Confidential CSS","description":"Protect our data from bad looks!","author":"Celestarien","version":"1.0", "website":"https://image.winudf.com/v2/image/bXBsLmNvbS5jb21pbmdzb29uX3NjcmVlbl8wXzE1MzQ3NTgxODFfMDQ0/screen-0.jpg?fakeurl=1&type=.jpg", "donate":"https://image.winudf.com/v2/image/bXBsLmNvbS5jb21pbmdzb29uX3NjcmVlbl8wXzE1MzQ3NTgxODFfMDQ0/screen-0.jpg?fakeurl=1&type=.jpg", "invite":"https://image.winudf.com/v2/image/bXBsLmNvbS5jb21pbmdzb29uX3NjcmVlbl8wXzE1MzQ3NTgxODFfMDQ0/screen-0.jpg?fakeurl=1&type=.jpg"}*//{}

.header-23xsNx.da-header {
    filter: blur(4px);
    transition: 10ms;
}

.header-23xsNx.da-header:hover {
    filter: none;
}


.content-3QAtGj.da-content {
    filter: blur(4px);
    transition: 10ms;
  /*display: none;*/
}

.content-3QAtGj.da-content:hover {
    filter: none;
}

.content-3at_AU.da-content {
    filter: blur(4px);
    transition: 10ms;
}

.content-3at_AU.da-content:hover {
    filter: none;
}

.viewBody-2Qz-jg.da-viewBody.selectable-x8iAUj.da-selectable {
    filter: blur(4px);
    transition: 10ms;
}

.viewBody-2Qz-jg.da-viewBody.selectable-x8iAUj.da-selectable:hover {
    filter: none;
}

.description-3_Ncsb.formText-3fs7AJ.da-description.da-formText.marginBottom8-AtZOdT.da-marginBottom8.modeDefault-3a2Ph1.da-modeDefault.primary-jw0I4K {
    filter: blur(4px);
    transition: 10ms;
}

.description-3_Ncsb.formText-3fs7AJ.da-description.da-formText.marginBottom8-AtZOdT.da-marginBottom8.modeDefault-3a2Ph1.da-modeDefault.primary-jw0I4K:hover {
    filter: none;
}

.markup-2BOw-j.da-markup.messageContent-2qWWxC.da-messageContent {
    filter: blur(4px);
    transition: 10ms;
}

.markup-2BOw-j.da-markup.messageContent-2qWWxC.da-messageContent:hover {
    filter: none;
}

.cursorPonter-YEp76E.da-cursorPonter.title-29uC1r.da-title.base-1x0h_U.da-base.size16-1P40sf {
    filter: blur(4px);
    transition: 10ms;
}

.cursorPonter-YEp76E.da-cursorPonter.title-29uC1r.da-title.base-1x0h_U.da-base.size16-1P40sf:hover {
    filter: none;
}

.container-3baos1.da-container {
    filter: blur(4px);
    transition: 10ms;
}

.container-3baos1.da-container:hover {
    filter: none;
}

.container-1giJp5.da-container{
    filter: blur(4px);
    transition: 10ms;
}

.container-1giJp5.da-container:hover{
    filter: none;
}

.filenameLinkWrapper-1-14c5.da-filenameLinkWrapper
{
    filter: blur(4px);
    transition: 10ms;
}

.filenameLinkWrapper-1-14c5.da-filenameLinkWrapper:hover
{
    filter: none;
}

.container-3FPLD3.da-container {
    filter: blur(4px);
    transition: 10ms;
}

.container-3FPLD3.da-container:hover {
    filter: none;
}

.colorStandard-2KCXvj.size14-e6ZScH.viewBody-2Qz-jg.da-viewBody.selectable-2GY4I1.da-selectable
{
    filter: blur(4px);
    transition: 10ms;
}

.colorStandard-2KCXvj.size14-e6ZScH.viewBody-2Qz-jg.da-viewBody.selectable-2GY4I1.da-selectable:hover
{
    filter: none;
}

.header-2o-2hj.da-header
{
    filter: blur(4px);
    transition: 10ms;
}

.header-2o-2hj.da-header:hover
{
    filter: none;
}

.embed-IeVjo6.da-embed.embedWrapper-lXpS3L.da-embedWrapper
{
    filter: blur(4px);
    transition: 10ms;
}

.embed-IeVjo6.da-embed.embedWrapper-lXpS3L.da-embedWrapper:hover
{
    filter: none;
}

.embedWrapper-lXpS3L.da-embedWrapper 
{
    filter: blur(4px);
    transition: 10ms;
}

.embedWrapper-lXpS3L.da-embedWrapper:hover
{
    filter: none;
}

.usernameFont-aFalyR.username-lm8y6T.da-username
{
    filter: blur(4px);
    transition: 10ms;
}

.usernameFont-aFalyR.username-lm8y6T.da-username:hover
{
    filter: none;
}

.listItemContents-95HL3L.da-listItemContents
{
    filter: blur(4px);
    transition: 10ms;
}

.listItemContents-95HL3L.da-listItemContents:hover
{
    filter: none;
}

.itemCard-v9viV7.da-itemCard.wrapper-3D2qGf.da-wrapper.outer-1AjyKL.da-outer.padded-302COx.da-padded.interactive-3B9GmY.da-interactive
{
    filter: blur(4px);
    transition: 10ms;
}

.itemCard-v9viV7.da-itemCard.wrapper-3D2qGf.da-wrapper.outer-1AjyKL.da-outer.padded-302COx.da-padded.interactive-3B9GmY.da-interactive:hover
{
    filter: none;
}

.children-19S4PO.da-children {
    filter: blur(4px);
    transition: 10ms;
}

.children-19S4PO.da-children:hover {
    filter: none;
}

.name-IbjUBS.da-name.container-2ax-kl.da-container {
    filter: blur(4px);
    transition: 10ms;
}

.name-IbjUBS.da-name.container-2ax-kl.da-container:hover {
    filter: none;
}

.membersGroup-v9BXpm.da-membersGroup.container-2ax-kl.da-container {
    filter: blur(4px);
    transition: 10ms;
}

.membersGroup-v9BXpm.da-membersGroup.container-2ax-kl.da-container:hover {
    filter: none;
}

.wrapper-35wsBm.userSelectNone-Iy6XEP.cursorDefault-331ZcI.da-wrapper.da-userSelectNone.da-cursorDefault 
{
    filter: blur(4px);
    transition: 10ms;
}

.wrapper-35wsBm.userSelectNone-Iy6XEP.cursorDefault-331ZcI.da-wrapper.da-userSelectNone.da-cursorDefault:hover
{
    filter: none;
}

.size16-1P40sf.overlayTitle-8IcS01.da-overlayTitle {
    filter: blur(4px);
    transition: 10ms;
}

.size16-1P40sf.overlayTitle-8IcS01.da-overlayTitle:hover {
    filter: none;
}